<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register Client</title>
    <link th:rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/assets/fonts/font-awesome.min.css}">
    <link th:rel="stylesheet" th:href="@{/assets/css/Registration-Form-with-Photo.css}">
    <link th:rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>

<body style="min-height: 100%;height: 100%;">
    <section class="register-photo" style="height: 100%;">
        <div class="form-container">
            <form th:action="@{'/client/update/' + ${idCliente}}" method="POST" th:object="${cliente}">
                <h2 class="text-center"><strong>Update&nbsp;</strong>an client.</h2>
                 <div class="mb-3"><input class="form-control" type="text" placeholder="Name" name="nome" th:field="*{nome}">
                <span th:errors="*{nome}"></span>
                </div>
                <div class="mb-3"><input class="form-control" type="text" placeholder="Birth date" name="dataNascimento" th:field="*{dataNascimento}">
                <span th:errors="*{dataNascimento}"></span>
                </div>
                <div class="mb-3"><input class="form-control" type="email" placeholder="Email" name="email" th:field="*{email}">
                <span th:errors="*{email}"></span>
                </div>
                <div class="mb-3"><input class="form-control" type="tel" placeholder="Phone" name="telefone" th:field="*{telefone}">
                <span th:errors="*{telefone}"></span>
                </div>
                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Sign Up</button></div>
            </form>
            <form th:action="@{'/address/' + ${idCliente}}" method="POST" th:object="${endereco}">
                <h2 class="text-center"><strong>Add&nbsp;</strong>an&nbsp;Address.</h2>
                <div class="mb-3"><input class="form-control" type="text" placeholder="Street" name="rua" th:field="*{rua}">
                <span th:errors="*{rua}"></span>
                </div>
                <div class="mb-3"><input class="form-control" type="text" placeholder="Number" name="numero" th:field="*{numero}">
                <span th:errors="*{numero}"></span>
                </div>
                <div class="mb-3"><input class="form-control" type="text" placeholder="State" name="estado" th:field="*{estado}">
                <span th:errors="*{estado}"></span>
                </div>
                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Add</button></div>
            </form>
        </div>
        <div>
            <div style="margin-top: 50px;text-align: center;">
                <h5>Address List<br></h5>
                <div class="d-flex justify-content-xxl-center" th:each="endereco : ${address}">
                    <p th:text="${endereco.idEndereco} + '. ' + ${endereco.rua} + ', ' + ${endereco.numero} + ' - ' + ${endereco.estado}"></p>
                    <a th:href="@{'/update-address/' + ${endereco.idEndereco}}" style="margin-left: 10px;"><i class="fa fa-pencil-square-o"></i></a><a th:href="@{'/address/delete/' + ${endereco.idEndereco}}" style="margin-left: 10px;"><i class="fa fa-trash-o"></i></a>
                </div>
            </div>
        </div>
    </section>
    <script th:src="@{assets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>