<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>dimdim</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="min-height: 100%;height: 100%;">
    <section class="register-photo" style="height: 100%;">
        <div class="form-container">
            <form method="post">
                <h2 class="text-center"><strong>Update&nbsp;</strong>an client.</h2>
                <div class="mb-3"><input class="form-control" type="text" placeholder="Name"></div>
                <div class="mb-3"><input class="form-control" type="date"></div>
                <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                <div class="mb-3"><input class="form-control" type="tel" placeholder="Phone"></div>
                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Update</button></div>
            </form>
            <form method="post">
                <h2 class="text-center"><strong>Add&nbsp;</strong>an&nbsp;Address.</h2>
                <div class="mb-3"><input class="form-control" type="text" placeholder="Street"></div>
                <div class="mb-3"><input class="form-control" type="number" placeholder="Number"></div>
                <div class="mb-3"><input class="form-control" type="text" placeholder="State"></div>
                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Add</button></div>
            </form>
        </div>
        <div>
            <div style="margin-top: 50px;text-align: center;">
                <h5>Address List<br></h5>
                <div>
                    <p>&nbsp;1. Rua Jose Ricardo da Costa, 72 - Sao Paulo<a href="#" style="margin-left: 10px;"><i class="fa fa-pencil-square-o"></i></a><a href="#" style="margin-left: 10px;"><i class="fa fa-trash-o"></i></a></p>
                </div>
            </div>
        </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>