<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>dimdim</title>
    <link th:rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/assets/fonts/font-awesome.min.css}">
    <link th:rel="stylesheet" th:href="@{/assets/css/Registration-Form-with-Photo.css}">
    <link th:rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>

<body style="min-height: 100%;height: 100%;">
    <section class="register-photo" style="height: 100%;">
        <div class="form-container">
            <form th:action="@{'/address/update/' + ${address.idEndereco}}" method="POST" th:object="${endereco}">
                <h2 class="text-center"><strong>Add&nbsp;</strong>an&nbsp;Address.</h2>
                <div class="mb-3"><input class="form-control" type="text" placeholder="Street" name="rua" th:field="*{rua}">
                <span th:errors="*{rua}"></span>
                </div>
                <div class="mb-3"><input class="form-control" type="text" placeholder="Number" name="numero" th:field="*{numero}">
                <span th:errors="*{numero}"></span>
                </div>
                <div class="mb-3"><input class="form-control" type="text" placeholder="State" name="estado" th:field="*{estado}">
                <span th:errors="*{estado}"></span>
                </div>
                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Add</button></div>
            </form>
        </div>
    </section>
    <script th:src="@{assets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>